.admin-div{
    display: flex;
}

.crossBtn{
    display: none;
}

@media only screen and (max-width: 992px) {
    .admin-div{
        display: flex;
        justify-content: space-between;
    }
    
    .crossBtn{
        display: block;
        cursor: pointer;
    }
    
  }