.banner-bg {

    height: 25rem;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://redx.com.bd/images/revamp/homepage-del-boy.jpg");
    background-size: cover;
    /* background-position: left top, right top, right top; */
    background-repeat: no-repeat;
}